@import "~normalize.css";
@import "~antd/dist/antd.css";

.glb {
  background-color: #f7e0eb;
  min-height: calc(100vh - 50px);
}
.container {
  margin: 0 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fs-13 {
  font-size: 13px;
}
.mr-10 {
  margin-right: 10px;
}
.gray-text {
  color: #777;
}